.container-conteudo-contato {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    font-size: larger;
}
.texto-top{
    width: 100%;
}
.container-card-formulario{
    background-color: #0080ff52;
    border-radius: 20px;
    border: 1px solid #007FFF;
    width: 80%;
    height: 250px;
    margin: 50px 0 0 0;
    padding: 20px;
}
.card-formulario{
    display: flex;
    align-items: flex-start;
    height: fit-content;
    width: 100%;
}
input{
    border-radius: 5px;
    border: 1px solid #007FFF;
    height: 20px;
    margin: 10px;
    width: 100%;
    outline: none;
    padding: 5px 5px;
    font-size: large;
    font-weight: 600;
}

.btn-enviar-mensagem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #007FFF;
    font-size: larger;
    font-weight: 900;
    color: #FFFFFF;
    cursor: pointer;
}
.btn-enviar-mensagem:active{
    border: 1px solid #FFF;
}
.container-icon{
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100%;
    margin-top: 5%;
}
.icon-contato{
    color: #007FFF;
    width: auto;
    height: 40px;
    cursor: pointer;
}