* {
  padding: 0;
  margin: 0;
  font-family: 'jura', Courier, monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  color: #FFFFFF;
  background-image: linear-gradient(to bottom right, #6441A5 , #2a0845);
  background-repeat: no-repeat;
  background-size: cover;
}

body::-webkit-scrollbar,
.container-home::-webkit-scrollbar,
.container-conteudo::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar-thumb,
.container-home::-webkit-scrollbar,
.container-conteudo::-webkit-scrollbar {
  display: none;
}

.container-home {
  display: flex;
  border: 1px solid #007FFF;
  border-radius: 20px;
  margin: 0 10%;
  height: max-content;
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.315);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.container-conteudo {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-x: scroll;
}

.minhas-habilidades-home {
  color: #007FFF;
  font-weight: 900;
  padding: 10px 0;
}



.texto-home {
  font-weight: 600;
}


/* Mobile Styles */
@media only screen and (max-width: 768px) {
  .container-home {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .container-conteudo {
    display: flex;  
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-x: scroll;
  }
}