.container-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
    position: relative;
    z-index: 1000;
}
.logo-navigation{
    color: #007FFF;
    font-size: 1.5em;
    cursor: pointer;
}
.lista-navigation{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
    transition: transform 0.3s ease;
}
.lista-navigation li {
    cursor: pointer;
    font-size: .9em;
    padding: 10px 20px;
}

.lista-navigation li:hover {
    background-color: #007FFF;
    padding: 10px 20px;
    border-radius: 20px;
}
.active {
    background-color: #007FFF;
    padding: 10px 20px;
    border-radius: 20px;
}
.menu-hamburguer {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-hamburguer .linha {
    width: 25px;
    height: 3px;
    background-color: #007FFF;
    margin: 4px 0;
}
@media (max-width: 768px) {
    .menu-hamburguer {
        display: flex;
    }

    .lista-navigation{
        position: absolute;
        top: 60px;
        left: -200%;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        transition: left 0.3s ease-in-out;
        z-index: 2000;
    }

    .active {
        left: 0;
    }

    .lista-navigation li {
        text-align: center;
        margin: 15px 0;
    }
}