.linha-azul-project {
    width: 1px;
    height: 105vh;
    background-color: #007FFF;
    border: 5px solid #007FFF;
    border-radius: 20px;
    box-shadow: 0 0 100px 5px #007FFF;
}

@media (max-width: 768px) {
    .linha-azul-project{
        display: none;
    }
}